.newsCard{
  width: 100% !important;
  height: 80% !important;
  background-color: #f0f0f0!important;
  border-radius: 15px !important;
  border: 1px solid rgba(0,0,0,0.02) !important;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7) !important;
}
